To start import ` pandas ` package.

In [1]:
import pandas

The primary pandas data structure is data frame. Data frames are 2 dimensional, mutable  heterogeneous tabular data structure with labeled rows and columns. Arithmetic operations can be done on both row and column labels. 

One way to build a data frame is from a dictionary.

In [2]:
list_1 = [1, 2, 3, 4]
list_2 = [False, True, False, True]
list_3 = ["w", "x", "y", "z"]
dict_1 = {"a": list_1, "b": list_2, "c":list_3}
dataframe_1 = pandas.DataFrame(dict_1)
dataframe_1

   a      b  c
0  1  False  w
1  2   True  x
2  3  False  y
3  4   True  z

Each row of the ` dataframe_1 ` is indexed with numbers from zero to three.
In order to specify the row labels of the ` dataframe_1 `, set the index attribute to desired values by using index method.

In [3]:
dataframe_1.index = ["row1", "row2", "row3", "row4"]
dataframe_1

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y
row4  4   True  z

__ Comma-seperated values (CSV) to Pandas DataFrame__

To import CSV data into Python as a Pandas DataFrame ` read_csv() ` function can be used. Consider index_col=False to force pandas to _not_ use the first column as the index. Other possible values are ` int ` or sequence. Default is None.

__Indexing and selectting Pandas DataFrame:__

Pandas DataFrames can be indexed and selected in many different ways.
- __square brackets__

The single bracket returns the column as Pandas Series, the double bracket version returns the column as Pandas DataFrame.

In [4]:
print(dataframe_1["a"])
type(dataframe_1["a"])

row1    1
row2    2
row3    3
row4    4
Name: a, dtype: int64

pandas.core.series.Series

In [5]:
print(dataframe_1[["a"]])
type(dataframe_1[["a"]])

      a
row1  1
row2  2
row3  3
row4  4

pandas.core.frame.DataFrame

Instead of the column name, the numeric index can be used.

In [6]:
print(dataframe_1[[1]])
type(dataframe_1[[1]])

          b
row1  False
row2   True
row3  False
row4   True

pandas.core.frame.DataFrame

Double brackets and comma seperated numeric indexes or labels of the columns will return a Pandas DataFrame.

In [7]:
print(dataframe_1[[0, 1]])
type(dataframe_1[[0, 1]])

      a      b
row1  1  False
row2  2   True
row3  3  False
row4  4   True

pandas.core.frame.DataFrame

In [8]:
print(dataframe_1[["a", "c"]])
type(dataframe_1[["a", "c"]])

      a  c
row1  1  w
row2  2  x
row3  3  y
row4  4  z

pandas.core.frame.DataFrame

Square brackets can be used to select rows. single row can be selected ony through slices. The result is a Pandas DataFrame all the time. Integer indexes of the rows should be used to select the slice not the row labels.

In [9]:
print(dataframe_1[0:1])
type(dataframe_1[0:1])

      a      b  c
row1  1  False  w

pandas.core.frame.DataFrame

-__loc & iloc__

`loc` and `iloc` can do any data selection operation on DataFrames. `loc` is label-based, which means rows and columns should be specified based on their labels. `iloc` is integer index based, so rows and columns should be specified by their integer index.

`loc` with single square brackets with one string refers to a row name. The result is Pandas Series:

In [10]:
print(dataframe_1.loc["row1"])
type(dataframe_1.loc["row1"])

a        1
b    False
c        w
Name: row1, dtype: object

pandas.core.series.Series

`iloc` with single square brackets with one integers refers to a row number. The result is Pandas Series:

In [11]:
print(dataframe_1.iloc[0])
type(dataframe_1.iloc[0])

a        1
b    False
c        w
Name: row1, dtype: object

pandas.core.series.Series

`iloc` with single square brackets with more than one integers separated by commas refers to first a row number, then a column number and returns the cell value:

In [12]:
print(dataframe_1.iloc[0,2])
type(dataframe_1.iloc[0,2])

w

str

`loc` with single square brackets with more than one strings separated by commas refers to first a row number, then a column number and returns the cell value:

In [13]:
print(dataframe_1.loc["row1","a"])
type(dataframe_1.loc["row1","a"])

1

numpy.int64

`loc` with single square brackets with more than one strings separated by a colon refers to slice of rows. It is important to note that this slice will include the column associated with the string after colon.

In [14]:
print(dataframe_1.loc["row1":"row3"])
type(dataframe_1.loc["row1":"row3"])

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y

pandas.core.frame.DataFrame

`iloc` with single square brackets with more than one intengers separated by a colon refers to slice of rows. It is important to note that this slice will __not__ include the column associated with the integer after colon. The result is a Pandas DataFrame:

In [15]:
print(dataframe_1.iloc[0:2])
type(dataframe_1.iloc[0:2])

      a      b  c
row1  1  False  w
row2  2   True  x

pandas.core.frame.DataFrame

`loc` with double square brackets with one string refers to row labels and returns a DataFrame.

In [16]:
print(dataframe_1.loc[["row1"]])
type(dataframe_1.loc[["row1"]])

      a      b  c
row1  1  False  w

pandas.core.frame.DataFrame

`iloc` with double square brackets with one string refers to row numbers and returns a DataFrame.

In [17]:
print(dataframe_1.iloc[[0]])
type(dataframe_1.iloc[[0]])

      a      b  c
row1  1  False  w

pandas.core.frame.DataFrame

`iloc` with double square brackets with more than one integer separated by commas refers to row numbers and returns a DataFrame.

In [18]:
print(dataframe_1.iloc[[0,2]])
type(dataframe_1.iloc[[0,2]])

      a      b  c
row1  1  False  w
row3  3  False  y

pandas.core.frame.DataFrame

`loc` with double square brackets with more than one strins separated by commas refers to row labels and returns a DataFrame.

In [19]:
print(dataframe_1.loc[["row1","row3"]])
type(dataframe_1.loc[["row1","row3"]])

      a      b  c
row1  1  False  w
row3  3  False  y

pandas.core.frame.DataFrame

In [20]:
print(dataframe_1.loc[["row1","row3"],["a", "c"]])
type(dataframe_1.loc[["row1","row3"],["a", "c"]])

      a  c
row1  1  w
row3  3  y

pandas.core.frame.DataFrame

In [21]:
print(dataframe_1.iloc[[0,2],[1,2]])
type(dataframe_1.iloc[[0,2],[1,2]])

          b  c
row1  False  w
row3  False  y

pandas.core.frame.DataFrame

`iloc` for getting a column as Series:

In [22]:
print(dataframe_1.iloc[:, 2])
type(dataframe_1.iloc[:, 2])

row1    w
row2    x
row3    y
row4    z
Name: c, dtype: object

pandas.core.series.Series

`iloc` for getting a column as DataFrame:

In [23]:
print(dataframe_1.iloc[:, [2]])
type(dataframe_1.iloc[:, [2]])

      c
row1  w
row2  x
row3  y
row4  z

pandas.core.frame.DataFrame

`loc` for getting a column as Series:

In [24]:
print(dataframe_1.loc[:, "c"])
type(dataframe_1.loc[:, "c"])

row1    w
row2    x
row3    y
row4    z
Name: c, dtype: object

pandas.core.series.Series

`loc` for getting a column as DataFrame:

In [25]:
print(dataframe_1.loc[:, ["c"]])
type(dataframe_1.loc[:, ["c"]])

      c
row1  w
row2  x
row3  y
row4  z

pandas.core.frame.DataFrame

In [26]:
print(dataframe_1.loc[:, ["a","c"]])
type(dataframe_1.loc[:, ["c","c"]])

      a  c
row1  1  w
row2  2  x
row3  3  y
row4  4  z

pandas.core.frame.DataFrame

In [27]:
print(dataframe_1.iloc[:, 0:2])
type(dataframe_1.iloc[:, 0:2])

      a      b
row1  1  False
row2  2   True
row3  3  False
row4  4   True

pandas.core.frame.DataFrame

In [28]:
print(dataframe_1.loc[:, "a":"c"])
type(dataframe_1.loc[:, "a":"c"])

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y
row4  4   True  z

pandas.core.frame.DataFrame

In [29]:
print(dataframe_1.loc["row1": "row3",:])
type(dataframe_1.loc["row1": "row3",:])

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y

pandas.core.frame.DataFrame

In [30]:
print(dataframe_1.iloc[0:2, :])
type(dataframe_1.iloc[0:2, :])

      a      b  c
row1  1  False  w
row2  2   True  x

pandas.core.frame.DataFrame

In [31]:
print(dataframe_1.loc["row1": "row3","a":"c"])
type(dataframe_1.loc["row1": "row3","a":"c"])

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y

pandas.core.frame.DataFrame

In [32]:
print(dataframe_1.iloc[0:2, 0:2])
type(dataframe_1.iloc[0:2, 0:2])

      a      b
row1  1  False
row2  2   True

pandas.core.frame.DataFrame