To start import ` pandas ` package.

In [3]:
import pandas

The primary pandas data structure is data frame. Data frames are 2 dimensional, mutable  heterogeneous tabular data structure with labeled rows and columns. Arithmetic operations can be done on both row and column labels. 

One way to build a data frame is from a dictionary.

In [6]:
list_1 = [1, 2, 3, 4]
list_2 = [False, True, False, True]
list_3 = ["w", "x", "y", "z"]
dict_1 = {"a": list_1, "b": list_2, "c":list_3}
dataframe_1 = pandas.DataFrame(dict_1)
dataframe_1

   a      b  c
0  1  False  w
1  2   True  x
2  3  False  y
3  4   True  z

Each row of the ` dataframe_1 ` is indexed with numbers from zero to three.
In order to specify the row labels of the ` dataframe_1 `, set the index attribute to desired values by using index method.

In [8]:
dataframe_1.index = ["row1", "row2", "row3", "row4"]
dataframe_1

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y
row4  4   True  z

__ Comma-seperated values (CSV) to Pandas DataFrame__

To import CSV data into Python as a Pandas DataFrame ` read_csv() ` function can be used. Consider index_col=False to force pandas to _not_ use the first column as the index. Other possible values are ` int ` or sequence. Default is None.

__Indexing and selectting Pandas DataFrame:__

Pandas DataFrames can be indexed and selected in many different ways.
- __square brackets__

The single bracket gives a Pandas Series, the double bracket version gives a Pandas DataFrame.

In [10]:
print(dataframe_1["a"])
type(dataframe_1["a"])

row1    1
row2    2
row3    3
row4    4
Name: a, dtype: int64

pandas.core.series.Series

In [11]:
print(dataframe_1[["a"]])
type(dataframe_1[["a"]])

      a
row1  1
row2  2
row3  3
row4  4

pandas.core.frame.DataFrame

Square brackets can be used to select rows. single row can not be selected and the result is a Pandas DataFrame. Integer indexes of the rows should be used to select not the row labels.

In [15]:
print(dataframe_1[0:3])
type(dataframe_1[0:3])

      a      b  c
row1  1  False  w
row2  2   True  x
row3  3  False  y

pandas.core.frame.DataFrame

In [17]:
print(dataframe_1[[0, 1]])
type(dataframe_1[[0, 1]])

      a      b
row1  1  False
row2  2   True
row3  3  False
row4  4   True

pandas.core.frame.DataFrame

In [20]:
print(dataframe_1[[1]])
type(dataframe_1[[1]])

          b
row1  False
row2   True
row3  False
row4   True

pandas.core.frame.DataFrame